.heading {
  text-align: center;
  width: 16rem;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #0d6efd;
  color: white;
}

.form-container {
  margin: auto;
}

.sec-filter {
  max-width: 40rem;
  margin: auto;
}

.table-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-table {
  background: white;
  width: 100%;
  font-size: 14px;
  margin: auto;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
}

.custom-table th,
.custom-table td {
  padding: 5px;
  text-align: left;
}

.custom-table td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.custom-table thead {
  background-color: #007bff;
  color: white;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

.custom-table tfoot {
  background-color: #f8f9fa;
  font-weight: bold;
}

@media screen and (min-width: 670px) {
  .heading {
    width: 20rem;
  }
  .table-container {
    width: 40rem;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 30rem;
  }
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}
